<div class="body">
    <div class="container">
        <div class="titulo row">
            <div class="col-md-12">
                <h1> Nuestra Empresa</h1>
            </div>
        </div>

        <div class="row rw-marca">
            <div class="col-md-12 marca">
                <h2>Una marca orgullosa de ser Colombiana</h2>

                <p>
                    Supermercado la Costa es una de las cadenas de retail más grandes el Eje Cafetero y Antioquia.
                    Somos reconocidos como una compañía líder en la comercialización de productos de consumo masivo
                    de óptima calidad, a través de una cadena privada de establecimientos.
                </p>
                <p>
                    Gracias a la expansión tan grande que hemos tenido, tomamos la decisión de crear esta pagina web,
                    para poder estar más cerca de nuestros clientes y mejorar nuestros servicios.
                </p>
            </div>
        </div>

        <div class="row rw2">
            <div class="col-lg-6 c-super">
                <img class="super" src="../../../assets/img/super.jpg" alt="supermercado">
            </div>
            <div class="col-lg-6 text-center cont-info">
                <div class="row rw4">
                    <div class="col-lg-12 rw3 cont-mapa">
                        <img class="mapa" src="../../../assets/img/mapa.png" alt="mapa">
                        <p class="parrafo-ubicacion">
                            Tenemos presencia en <strong>80 municipios</strong> y 3 departamentos en el territorio
                            Colombiano, a través de <strong>160 negocios.</strong>
                        </p>
                    </div>
                    <div class="col-lg-12 rw3">
                        <img class="manos" src="../../../assets/img/manos.png" alt="manos">
                        <p class="parrafo-ubicacion">
                            Nuestro compromiso es entregarte <strong>siempre precios bajos</strong> y productos de
                            la <strong>mayor calidad.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row rw2">
            <div class="col-lg-3 c-super">
                <img class="super2" src="../../../assets/img/super2.jpg" alt="supermercado">
            </div>
            <div class="col-lg-3 c-super">
                <img class="super2" src="../../../assets/img/super3.jpg" alt="supermercado">
            </div>
            <div class="col-lg-6 rw3 cont-info-carrito text-center">
                <a routerLink="/user/products-user">
                    <img class="carrito-compra" src="../../../assets/img/carritocompra.png" alt="carrito-compra">
                </a>
                <p class="parrafo-ubicacion">
                    Encuentra el producto que buscas en nuestra <strong> tienda virtual</strong>,
                    seguro, facil y confianza.
                </p>
            </div>
        </div>
    </div>
</div>