<mat-card class="sidebar">
    <mat-action-list>
        <div mat-subheader class="menu">Menu</div>
        <button mat-list-item routerLink="/user">
            <i class="fa-solid fa-house"></i> Inicio
        </button>
        <button mat-list-item routerLink="/user/products-user">
            <i class="fa-solid fa-basket-shopping"></i> Productos
        </button>
        <button mat-list-item routerLink="profile">
            <i class="fa-solid fa-user-gear"></i> Perfil
        </button>
    </mat-action-list>
</mat-card>
