<footer class="footer">
    <div class="grupo-1">
        <div class="box">
            <figure class="logo">
                <img class="logo-footer" src="../../../assets/img/LogoMediano.png" alt="Logo Supermercado">
            </figure>
        </div>
        <div class="box">
            <h2 class="compañia">COMPAÑIA</h2>
            <p class="compañia">Contactanos</p>
        </div>
        <div class="box">
            <h2 class="servicio">SERVICIO</h2>
            <p class="servicio">Contactanos</p>
        </div>
        <div class="box">
            <h2 class="siguenos">SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/profile.php?id=100066462832983" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/supermercadodelacosta/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="box">
            <small>&copy; {{anio}} <b>Supermercado La Costa</b> - Todos los Derechos Reservados.</small>
        </div>
    </div>
</footer>