<div class="container">
    <div class="row">
        <h1>Actualizar Producto</h1>
    </div>

    <mat-card>

        <form *ngIf="products" (submit)="updateProduct()">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre Producto</mat-label>
                <input [(ngModel)]= "products.nombre" name="producto" matInput type="text" required autocomplete="off">
                <mat-icon matPrefix aria-hidden="false" aria-label="Inventory 2" fontIcon="inventory 2"></mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Precio</mat-label>
                <input [(ngModel)]= "products.precio" name="precio" matInput type="number" required autocomplete="off">
                <mat-icon matPrefix aria-hidden="false" aria-label="Price_Change" fontIcon="price_change"></mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input [(ngModel)]= "products.descripcion" name="descripcion" matInput type="text" required autocomplete="off">
                <mat-icon matPrefix aria-hidden="false" aria-label="Description" fontIcon="description"></mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Cantidad Stock</mat-label>
                <input [(ngModel)]= "products.stock" name="stock" matInput type="number" required autocomplete="off">
                <mat-icon matPrefix aria-hidden="false" aria-label="Add_Shopping_Cart" fontIcon="add_shopping_cart"></mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Descuento %</mat-label>
                <input [(ngModel)]= "products.promocion" name="descuento" matInput type="text" autocomplete="off">
                <mat-icon matPrefix aria-hidden="false" aria-label="Production_Quantity_Limits" fontIcon="production_quantity_limits"></mat-icon>
            </mat-form-field>

            <div class="container container-buttons text-center">
                <button  mat-raised-button color="primary">
                    Actualizar
                </button>

                <button type="reset" style="margin-left: 15px;" mat-raised-button color="secondary">
                    Limpiar
                </button>

                <button routerLink="/admin/products-admin" style="margin-left: 15px;" mat-raised-button color="secondary">
                    Cancelar
                </button>
            </div>
        </form>
    </mat-card>
</div>